<% body_class "page-edit-profile" %>

<!--main-content-->
<div class="container main-content">

  <%= flash_messages %>

  <div class="row">

    <div class="col-sm-3 sidebar">

      <div class="sidebar-module">

        <ul class="nav nav-sidebar">
          <li><%= link_to "Basic Info",  edit_profile_path  %></li>
          <% if @skill_id %>
              <li><%= link_to "Services", edit_profile_skill_path(@skill_id) %></li>
          <% end %>
          <li><%= link_to "Availability", edit_profile_availability_path %></li>
          <li><%= link_to "Photos",  photos_profile_path, class: "active"  %></li>
          <li><%= link_to "Verifications", profile_verifications_path %></li></li>
          <li><a href="">Reviews</a></li>
        </ul><!-- /.nav-sidebar -->

      </div><!-- /.sidebar-module -->

    </div><!-- /.sidebar -->

    <div class="col-sm-9 main">

      <!-- container-mentor-onboard  -->
      <div class="container-mentor-onboard container">
        <h2>Photo Gallery</h2>
        <%= simple_form_for @photo, url: profile_skill_photo_path(@skill), method: :post do |f| %>
          <p>
            <%= f.label :image_file, "Profile Photo" %>
            <%= f.input :image_file, as: :file, label: false %>
          </p>
          <%= f.submit "Add Photo" %>
        <% end %>
        <%= render "/_shared/profile_partials/photos" %>
      </div><!-- /.container-mentor-onboard -->

        </div><!-- /.col-sm-9 main" -->

  </div><!-- /.row -->

</div><!-- /.container main-content -->
