<div class="row">
  <div class="col-sm-4 col-md-3">
    <%= render "/_shared/account_partials/sidebar_nav" %>
  </div>
  <div class="col-sm-8 col-md-9">

  <%= simple_form_for(resource, as: resource_name, url: update_password_path, html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :password, "New Password" %> <br />
      <%= f.input :password, as: :password, label: false, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.input :password_confirmation, as: :password, label: false, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <br />
      <%= f.input :current_password, as: :password, label: false, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Password" %>
    </div>
  <% end %>

  </div>
</div>