<div class="row">
  <div class="col-sm-4 col-md-3">
    <%= render "/_shared/account_partials/sidebar_nav" %>
  </div>
  <div class="col-sm-8 col-md-9">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.input :first_name, label: false %>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.input :last_name, label: false %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.input :email, as: :email, label: false %>
      </div>

      <div class="field">
        <%= f.label :zip_code %>
        <%= f.input :zip_code, label: false %>
      </div>

      <div class="field">
        <%= f.label :wants_notifications %>
        <%= f.input :wants_notifications, as: :boolean, label: false %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>
