<div class="col-md-8 col-md-offset-2">
  <nav class="tabs">
  	<ul class="row">
  		<li class="active"><%= link_to "Services", sign_up_select_skill_path, class: "col-md-4" %></li>
      <li><%= link_to "About You", sign_up_about_you_path, class: "col-md-4" %></li>
      <li><%= link_to "Availability", sign_up_select_availability_path, class: "col-md-4" %></li>
    </ul>
  </nav>
  <div class="container-mentor-onboard skills container">
  	<h1>What would you like to teach?</h1>
    <%= form_for @skill, url: profile_skill_path(@skill.id), method: :put do |f| %>
    
      <%= render "/_shared/profile_partials/skill_category", f: f %>
      <p class="pull-right">
        <%= hidden_field_tag 'during_registration', true %>
        <%= submit_tag "Continue", class: 'form-control button3d' %>
        <%= image_tag("icons/icon-check.svg", size: 22, class: 'checked-src') %>
      </p>
    <% end %>
  </div>
</div>