<h1>Hello, <%= @booking.mentor.full_name %></h1>
<br>
You have a Booking Request from <%= @booking.mentee.full_name %>.<br/><br/>

	BOOKING SUMMARY<br/>
	
	CATEGORY:  <%= @booking.category.name %>  <BR/>
	TAGS: 
    <% @booking.tags.each do |tag| %> 
   		<B><%= tag.name %></b> , 
   	<% end %>
	
	<BR/>
	
	TITLE:<%= @booking.title %><br/>
	
	DESCRIPTION: <%= @booking.description %><br/>
	
	
	SESSION DETAILS (LOCATION): <%= @booking.location %>     <br/> 
	online meeting? <%= @booking.online_meeting %><br/>