<h3>4 Reviews</h3>

<div class="rating-row">

<div class="review-label">Overall Rating</div>
    <%= image_tag("icons/icon-star-gold.svg", class: "icon-star", width: '30') %>
    <%= image_tag("icons/icon-star-gold.svg", class: "icon-star", width: '30') %>
    <%= image_tag("icons/icon-star-gold.svg", class: "icon-star", width: '30') %>
    <%= image_tag("icons/icon-star-gold.svg", class: "icon-star", width: '30') %>
    <%= image_tag("icons/icon-star-gold.svg", class: "icon-star", width: '30') %>
    <div class="session-label">(13)</div>
</div>


<div class="row review-row">
    <div class="col-sm-2 col">
      <img class="avatar-med" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b4da85b7ee5ba660e4dea_avatar.png" width="125">
    </div>

    <div class="col-sm-10 col"><h4>From Gordon B:</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
        faucibus nibh et justo cursus id rutrum lorem imperdiet.<br><br>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
        dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
        imperdiet.</p>
    </div>
</div>

<div class="row review-row">
    <div class="col-sm-2 col">
      <img class="avatar-med" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b4da85b7ee5ba660e4dea_avatar.png" width="125">
    </div>
    <div class="col-sm-10 col">

      <h4>From Gordon B:</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
        faucibus nibh et justo cursus id rutrum lorem imperdiet.<br><br>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
        dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
        imperdiet.</p></div>
</div>

<a class="view-more-link" href="#">View More</a>
