<div class="detail-row">
    <h3>More About Me</h3>
      <p><%= @profile.get_about_me %></p>
</div>

<div class="detail-row">
    <h3>My Expertise</h3>
    <p><%= @profile.expertise_description %></p>

    <ul class="pills no-border">
      <% @profile.get_skill.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
</div>

<div class="detail-row">
    <h3>Why I Love Mentoring</h3>

    <p><%= @profile.get_sales_pitch %></p>
</div>

 <%= form_for :booking, :url => booking_find_mentor_details_path, method: :post do |f| %>

    <%= hidden_field_tag 'booking[mentor_id]', @mentor.id %>

    <%= button_tag(type: 'submit', class: "button3d btn-block") do %>
        <span class="hire-action">Hire Me &nbsp;</span>
        <span class="hire-rate"><%= number_to_currency(@profile.get_rate_amount) %> / <%= @profile.get_rate_type %></span>
    <% end %>
<% end %>