<% @categories.each do |category| %>
  <% category_expanded = category.id == @skill.category.id %>
  <div class="panel-group category-panel-group" id="accordion<%= category.id %>" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= category.id %>">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-category-id="<%= category.id %>" data-parent="<%= @panel_ids %>" href="#collapse<%= category.id %>" aria-expanded="<%= category_expanded.to_s %>" aria-controls="collapse<%= category.id %>"  class="collapsed accordion-toggle-link">
            
            <%= category.name %><%= image_tag("arrow-down@2x.svg", width: '15px', class: "list-arrow") %>
          </a>
        </h2>
      </div>
      <div id="collapse<%= category.id %>" class="panel-collapse <% unless category_expanded %>collapse<% end %>" role="tabpanel" aria-labelledby="heading<%= category.id %>" aria-expanded="<%= category_expanded.to_s %>">
        <div class="panel-body checkboxes">
          <% category.tags.each do |tag| %>
            <div class="checkbox-row">
              <label>
                <div class="checkbox <% if @current_tag_ids.include?(tag.id) %>checked-active<% end %>">
                  <% if @current_tag_ids.include?(tag.id) %>
                    <%= image_tag("icons/icon-check.svg") %>
                  <% end %>
                </div>
                <%= tag.name %>
                <div class="hidden-checkbox-container">
                  <%= check_box_tag "skill[tag_ids][]", tag.id, (@current_tag_ids.include? tag.id), class: "skill-category-tag", id: "skill_tag_#{tag.id}" %>
                </div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= hidden_field_tag "skill[category_id]", @skill.category_id, id: "skill-category-id" %>