	<% panelIds = Array.new %>
	<% @categories.each do |category| %>
		<% panelIds.push('#accordion' + category.id.to_s) %>
	<% end %>
	<% panelIds = panelIds.join(', ') %>
	<% @categories.each do |category| %>
    <div class="panel-group" id="accordion<%= category.id %>" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= category.id %>">
          <h2 class="panel-title"><a data-toggle="collapse" data-parent="<%= panelIds %>" href="#collapse<%= category.id %>" aria-expanded="true" aria-controls="collapse<%= category.id %>"  class="collapsed"><%= f.radio_button :category_id, category.id %><%= category.name %><%= image_tag("arrow-down@2x.svg", width: '15px', class: "list-arrow") %></a></h2>
        </div>
        <div id="collapse<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= category.id %>">
          <div class="panel-body checkboxes">
				<% category.tags.each do |tag| %>
                <div class="checkbox-row">
                  <label>
						<%= check_box_tag "skill[tag_ids][]", tag.id, (@current_tag_ids.include? tag.id) %>
						<%= tag.name %>
                  </label>
                </div>
				<% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
