<!--Find mentor notes-->
<% body_class "page-mentor-notes page-bg" %>
<div class="col-md-8 col-md-offset-2">

  <nav class="tabs">
    <ul class="row">
      <li><a class="col-md-3" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_details' %>">Basics</a></li>
      <li><a class="col-md-3" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_locations' %>">Date &amp; Time</a></li>
	  <li><a class="col-md-3" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_notes' %>">Notes</a></li>
	  <li class="active"><a class="col-md-3" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_review' %>">Review</a></li>
    </ul>
  </nav>
  <div class="container-mentor-onboard container">

    <h1>Teach Me How to Lay Tile</h1>

    <ul class="pills">
      <li><%= @category_name %></li>
      <% @tags.each do |tag| %>
           <li><%= tag.name %></li>
      <% end %>
    </ul>
    <div class="session-details">
        <strong>Description:<br></strong>
        <p>BOOKING DESC Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

        <strong>Session Details:<br></strong>
        <p>
			<%= @location %> <br/>
			<%= @datetime %> <br/>
			<%= @mentor_cost %>
        </p>
    </div>

    <ul class="pills no-border">
      <li>Edit</li>
      <li>Cancel Session</li>
    </ul>

    <%= form_for :booking, :url => booking_find_mentor_finalize_path do |f| %>
	
        <%= f.submit "Hire Mentor", class: 'form-control button3d btn-block' %>

    <% end %>

  </div>

  <p class="form-footer">
    Are you lost?  <%= link_to "Start Over", find_mentor_path %>
  </p>

</div>






 
 


