<!--Find mentor location -->
<% body_class "page-mentor-location page-bg" %>
<div class="col-md-8 col-md-offset-2">

  <nav class="tabs">
    <ul class="row">
      <li><a class="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_details' %>">Basics</a></li>
      <li class="active"><a class="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_locations' %>">Date &amp; Time</a></li>
      <li><a classs="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_notes' %>">Notes</a></li>
    </ul>
  </nav>

  <div class="container-mentor-onboard container">

    <h1>When Should You Meet?</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>

    <%= form_for :booking, :url => booking_find_mentor_notes_path, :html => { :class => "simple_form"} do |f| %>

        <div class="form-group string optional user_first_name">
          <%= f.label :location, "Location" %>
          <div class="get-location">
          <%= f.text_field :location, :value => @location, autocomplete: "off", class: 'form-control'  %>
              <button class="btn btn-default get-location" onclick="getUserLocation();return false;">Get Location</button>
          </div>
        </div>

        <script>function getUserLocation(){
            alert("getUserLocation would be called here")
        }</script>

        <div class="checkboxes">
              <div class="checkbox-row-booking">
                <label>
                  <%= f.check_box :online_meeting, {}, true, false %>
                  <%= f.label "This will take place via video chat / online." %>
                </label>
              </div>
        </div>

		<% today = Time.now -%>
		<% one = Time.now + (1*24*60*60) -%>
		<% two = Time.now + (2*24*60*60) -%>
		<% three = Time.now + (3*24*60*60) -%>
		<% four = Time.now + (4*24*60*60) -%>
		<% five = Time.now + (5*24*60*60) -%>
		<% six = Time.now + (6*24*60*60) -%>
		
		<% today.strftime('%x') -%>
		
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group string optional">
                <label for="exampleInputName2">Date</label>
				
				
				
				<%= f.select :custom_date, options_for_select(["Today", "Tomorrow", two.strftime('%A'), three.strftime('%A'), four.strftime('%A'), five.strftime('%A'), six.strftime('%A')]), {:prompt => 'Date '}, {required: false, autofocus: false, class: 'form-control'} %>
                
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="form-group string optional">
              <label for="exampleInputName2">Time</label>
			  
			  
			  <%= f.select :custom_time, options_for_select(["8:00 AM – 9:00 AM","9:00 AM – 10:00 AM","10:00 AM – 11:00 AM","11:00 AM – 12:00 PM","12:00 PM – 1:00 PM","1:00 PM – 2:00 PM","2:00 PM – 3:00 PM","3:00 PM – 4:00 PM","4:00 PM – 5:00 PM","5:00 PM – 6:00 PM","6:00 PM – 7:00 PM","7:00 PM – 8:00 PM","8:00 PM – 9:00 PM","9:00 PM – 10:00 PM"]), {:prompt => 'Time '}, {required: false, autofocus: false, class: 'form-control'} %>
			  
             
          </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->


        <p class="right">
          
          <%= f.submit "Continue", class: 'form-control button3d' %>
          <%= image_tag("icons/icon-check.svg", size: 22, class: 'checked-src') %>
        </p>

    <% end %>

  </div>

  <p class="form-footer">
    Are you lost?  <%= link_to "Start Over", find_mentor_path %>
  </p>

</div>