<div class="container-content">
  <div class="inner-title">
    <div>Member Info</div>
  </div>
  <div class="inner-module">
    <div class="row activity-row">
      <div class="col-xs-2 col">
        <%= image_tag("icons/icon-map-gray.svg", width: '22') %>
      </div>
      <div class="col-xs-10 col">
        <div>Located in Chicago,&nbsp;IL</div>
      </div>
    </div>
    <div class="row activity-row">
      <div class="col-xs-2 col">
        <%= image_tag("icons/icon-joined-gray.svg", width: '22') %>
      </div>
      <div class="col-xs-10 col">
        <div>Joined January 2015</div>
      </div>
    </div>
    <div class="row activity-row">
      <div class="col-xs-2 col">
        <%= image_tag("icons/icon-work-gray.svg", width: '22') %>      </div>
      <div class="col-xs-10 col">
        <div>Works at Tool Time TV</div>
      </div>
    </div>
    <div class="row activity-row">
      <div class="col-xs-2 col">
        <%= image_tag("icons/icon-school-gray.svg", width: '22') %>
      </div>
      <div class="col-xs-10 col">
        <div>Illinois State, Engineering</div>
      </div>
    </div>
    <div class="row activity-row">
      <div class="col-xs-2 col">
        <%= image_tag("icons/icon-language-gray.svg", width: '22') %>
      </div>
      <div class="col-xs-10 col">
        <div>Speaks English</div>
      </div>
    </div>
  </div>
</div>