<% body_class "page-edit-profile" %>

<!--main-content-->
<div class="container main-content">

  <%= flash_messages %>

  <div class="row">

    <div class="col-sm-3 sidebar">

      <div class="sidebar-module">

        <ul class="nav nav-sidebar">
          <li><%= link_to "Basic Info",  edit_profile_path  %></li>
          <% if @skill_id %>
              <li><%= link_to "Services", edit_profile_skill_path(@skill_id) %></li>
          <% end %>
          <li><%= link_to "Availability", edit_profile_availability_path, class: "active" %></li>
          <li><%= link_to "Photos",  photos_profile_path  %></li>
          <li><%= link_to "Verifications", profile_verifications_path %></li></li>
          <li><a href="">Reviews</a></li>
        </ul><!-- /.nav-sidebar -->

      </div><!-- /.sidebar-module -->

    </div><!-- /.sidebar -->

    <div class="col-sm-9 main">

      <!-- container-mentor-onboard  -->
      <div class="container-mentor-onboard availability has-title">
        <div class="inner-title">Services</div>

        <div class="inner-content">
            <h1 class="gutter-bot">Availability</h1>

            <%= form_tag update_availability_profile_path, method: :put do |f| %>

                <%= render "/_shared/profile_partials/availability", f: f %>
              </div><!-- /.inner-content" -->
                </div><!-- /.container-mentor-onboard -->
                <p>
                  <%= hidden_field_tag 'during_registration', true %>
                  <%= submit_tag"Save Changes", class: "button3d" %>
                  <%= image_tag("icons/icon-check.svg", size: 22, class: 'checked-src') %>
                </p>
            <% end %>

        </div><!-- /.col-sm-9 main" -->

  </div><!-- /.row -->

</div><!-- /.container main-content -->
